.cardItemMan1{
    padding: 1rem;
    margin: 1rem;
    height: 375px;
    width: 275px;
    background-color: rgb(252, 252, 252);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 1px;
    border-color: rgb(199, 199, 199);
    border-style: solid;
    border-radius: 10px;
}
